<div *ngIf="numberList && numberList[0]"
     [class.split-number-lg-container]="size === 'lg'"
     [ngStyle]="{background: color}">
  <app-chart-scroll-number2 [targetNumber]="numberList[0]" [size]="size"></app-chart-scroll-number2>
</div>
<div *ngIf="numberList && numberList[1]"
     [class.split-number-lg-container]="size === 'lg'" [ngStyle]="{background: color}">
  <app-chart-scroll-number2 [targetNumber]="numberList[1]" [size]="size"></app-chart-scroll-number2>
</div>
<div *ngIf="numberList && numberList[2]"
     [class.split-number-lg-container]="size === 'lg'" [ngStyle]="{background: color}">
  <app-chart-scroll-number2 [targetNumber]="numberList[2]" [size]="size"></app-chart-scroll-number2>
</div>
<div *ngIf="numberList && numberList[3]"
     [class.split-number-lg-container]="size === 'lg'" [ngStyle]="{background: color}">
  <app-chart-scroll-number2 [targetNumber]="numberList[3]" [size]="size"></app-chart-scroll-number2>
</div>
<div *ngIf="numberList && numberList[4]"
     [class.split-number-lg-container]="size === 'lg'" [ngStyle]="{background: color}">
  <app-chart-scroll-number2 [targetNumber]="numberList[4]" [size]="size"></app-chart-scroll-number2>
</div>
<div *ngIf="numberList && numberList[5]"
     [class.split-number-lg-container]="size === 'lg'" [ngStyle]="{background: color}">
  <app-chart-scroll-number2 [targetNumber]="numberList[5]" [size]="size"></app-chart-scroll-number2>
</div>
<div *ngIf="numberList && numberList[6]"
     [class.split-number-lg-container]="size === 'lg'" [ngStyle]="{background: color}">
  <app-chart-scroll-number2 [targetNumber]="numberList[6]" [size]="size"></app-chart-scroll-number2>
</div>
<div *ngIf="numberList && numberList[7]"
     [class.split-number-lg-container]="size === 'lg'" [ngStyle]="{background: color}">
  <app-chart-scroll-number2 [targetNumber]="numberList[7]" [size]="size"></app-chart-scroll-number2>
</div>
<div *ngIf="numberList && numberList[8]"
     [class.split-number-lg-container]="size === 'lg'" [ngStyle]="{background: color}">
  <app-chart-scroll-number2 [targetNumber]="numberList[8]" [size]="size"></app-chart-scroll-number2>
</div>
<div *ngIf="numberList && numberList[9]"
     [class.split-number-lg-container]="size === 'lg'" [ngStyle]="{background: color}">
  <app-chart-scroll-number2 [targetNumber]="numberList[9]" [size]="size"></app-chart-scroll-number2>
</div>
<div *ngIf="numberList && numberList[10]"
     [class.split-number-lg-container]="size === 'lg'" [ngStyle]="{background: color}">
  <app-chart-scroll-number2 [targetNumber]="numberList[10]" [size]="size"></app-chart-scroll-number2>
</div>
<div *ngIf="numberList && numberList[11]"
     [class.split-number-lg-container]="size === 'lg'" [ngStyle]="{background: color}">
  <app-chart-scroll-number2 [targetNumber]="numberList[11]" [size]="size"></app-chart-scroll-number2>
</div>



