<div class="full-monitor-container" [class.full-monitor-container-sm]="sourceSize==='sm'"
     [ngStyle]="{width:sourceWidth + 'px',height:sourceHeight + 'px'}">
  <app-full-title2 [title]="fullTitle" [globalSize]="sourceSize"></app-full-title2>
  <div class="table-header-container">
    <div class="table-header" [class.table-header-simple]="isSimplePermission">
      <div>停车场</div>
      <div [ngStyle]="{visibility:!isSimplePermission? 'visible':'hidden'}">泊位数</div>
      <div>泊位状态</div>
    </div>
  </div>
  <div class="scroll-box" #scrollDiv (mouseenter)="onScrollDivMouseEnter()"
       (mouseleave)="onScrollDivMouseLeave()">

    <div class="scroll-box-item" *ngFor="let dataItem of dataList" [class.scroll-box-item-simple]="isSimplePermission"
         [ngStyle]="{background: dataItem.isOdd ? '':'#033447'}">
      <div class="scroll-box-title"
           [title]="dataItem.source.parking?.parking_name">
        <!--<span [ngStyle]="{color:dataItem.source.parking.area_type===1?'#18c7b8':'#14a4ed'}">[{{dataItem.source.parking?.area_type|areaType:true}}]</span>-->
        <span [class.left-space]="isSimplePermission"></span>
        {{dataItem.source.parking?.parking_name}}
      </div>
      <div [ngStyle]="{visibility:!isSimplePermission? 'visible':'hidden'}">
        {{dataItem.source.parking_tmp_num}}/{{dataItem.source.parking_total}}</div>
      <div>
        <div class="scroll-box-status"
             [ngStyle]="{background: dataItem.source.parking_status|parkingState2:true}">{{dataItem.source.parking_status|parkingState2}}
        </div>
      </div>
    </div>
  </div>
</div>
