<div class="header">
  <app-crumb [level1Name]="'基础管理'" [level2Name]="'停车场'" [level3Name]="'分组管理'" [level4Name]="'编辑组'"
             [level2RelativePath]="'../../../'"
             [level3RelativePath]="'../../'"></app-crumb>
</div>
<div class="content-flow">
  <div class="list-container">
    <form class="form-horizontal z-form-horizontal" (submit)="onAddGroupsFormSubmit()" #editGroupsForm="ngForm"
          autocomplete="off" *ngIf="groupsInfo">
      <div class="form-group">
        <div class="col-sm-10 group-item">
          <label class="control-label"><b>* </b>组名称：</label>
          <div class="input-group">
            <input class="form-control" type="text" appIgnoreSpace placeholder="请输入20字以内组名称" maxlength="20"
                   [(ngModel)]="groupsInfo.parking_group_name" name="parking_group_name" required>
          </div>
        </div>
        <div class="col-sm-10 group-item">
          <label class="control-label"><b>* </b>组类型：</label>
          <div class="input-group check-group">
          <ng-container *ngFor="let groupType of groupTypeList;let index=index">
          <app-beautify-checkbox [name]="groupType| groupType"
                                 [extData]="groupType"
                                 [checked]="groupsInfo.parking_group_types && groupsInfo.parking_group_types.indexOf(groupType)>=0"
                                 (checkChange)="changeGroupsType($event)"></app-beautify-checkbox>
          </ng-container>
          </div>
        </div>
        <div class="col-sm-10 group-item">
          <label class="control-label">停车场：</label>
        </div>
      </div>
      <div class="form-group">
        <div class="parking-select-wrap">
          <!-- 区域 -->
          <div class="region-wrap">
            <ul *ngFor="let region of regionsList;let index = index;">
              <li class="region-li" [ngClass]="{'li-active': selectedRegion.region_id===region.region_id}"
                  (click)="requestRegionParkings(region, 1)">
                <i class="icon-no-active" [ngClass]="{'icon-active': isShow}"></i>
                {{region.name}}
              </li>
              <ul class="dist-wrap" *ngIf="isShow">
                <li class="region-li" *ngFor="let district of region.districts"
                    [ngClass]="{'li-active': selectedRegion.region_id===district.region_id}"
                    (click)="requestRegionParkings(district, 2)">
                  {{district.name}}
                </li>
              </ul>
            </ul>
          </div>
          <!-- 停车场 -->
          <div class="parking-wrap">
            <div class="col-sm-5 input-group">
              <input class="form-control" placeholder="请输入停车场名称" [(ngModel)]="searchParams.parking_name"
                     name="parking_name" (keyup)="searchParking()"/>
            </div>
            <div class="scroll-container" (scroll)="onScrollContainerScroll($event)">
              <li *ngFor="let parking of parkingsList"
                  id="{{parking.source.parking_id}}" (click)="selectedParkings(parking)">
                <app-beautify-checkbox [name]="parking.source.parking_name"
                                       [extData]="parking"
                                       [isBlock]="true"
                                       [checked]="parking.isChecked"
                                       (checkChange)="selectedParkings($event)"></app-beautify-checkbox>
              </li>
            </div>
          </div>
          <div class="selected-wrap">
            <div class="col-sm-5 input-group">已选中</div>
            <div class="scroll-container">
              <li class="selected-parking" *ngFor="let parking of selectedParkingList; let index = index"
                  (click)="cancelSelectedParkings(index)">
                <span>{{parking.source.parking_name}}<i class="icon-close"></i></span>
              </li>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group form-group-footer clearfix">
        <button type="submit" class="btn btn-primary pull-right"
                [disabled]="!editGroupsForm.form.valid||!checkedGroupsType">
          保存
        </button>
        <button type="button" class="btn btn-inverse pull-right" (click)="onCancelBtnClick()">
          取消
        </button>
      </div>
    </form>
  </div>
</div>
