<div class="fs-container">
  <div class="fs-body">
    <div class="fs-left-side">
      <div class="fs-both-side-item">
        <app-full-border2 arrowSize="lg" globalSize="superlg">
          <app-full-flow-distribution-curve2
            sourceHeight="486" sourceWidth="906" sourceSize="superlg"
            [areaType]="2"></app-full-flow-distribution-curve2>
        </app-full-border2>
      </div>
      <div class="fs-both-side-item">
        <app-full-border2 arrowSize="lg" globalSize="superlg">
          <app-full-turnover-rate2 sourceHeight="486" sourceWidth="906" sourceSize="superlg"
                                   [areaType]="2"></app-full-turnover-rate2>
        </app-full-border2>
      </div>
    </div>
    <!--右-->
    <div class="fs-right-side">
      <div class="fs-both-side-item">
        <app-full-border2 arrowSize="lg" globalSize="superlg">
          <app-full-flow-distribution-curve2
            sourceHeight="486" sourceWidth="906" sourceSize="superlg"
            [areaType]="1"></app-full-flow-distribution-curve2>
        </app-full-border2>
      </div>
      <div class="fs-both-side-item">
        <app-full-border2 arrowSize="lg" globalSize="superlg">
          <app-full-turnover-rate2 sourceHeight="486" sourceWidth="906" sourceSize="superlg"
                                   [areaType]="1"></app-full-turnover-rate2>
        </app-full-border2>
      </div>
    </div>
  </div>
</div>
