<div class="list-container">
  <form class="search-form" onkeydown="if(event.keyCode===13){return false;}">
    <div class="form-group">
      <span>名称：</span>
      <input class="form-control" [(ngModel)]="searchParams.parking_name" name="parking_name" placeholder="请输入停车场名称"
             (keyup)="searchAssistant.submitSearch(true,$event)"/>
    </div>
    <div class="form-group">
      <span>停车场类型：</span>
      <select class="form-control" [(ngModel)]="searchParams.area_type" name="area_type"
              (change)="searchAssistant.submitSearch(true,$event)">
        <option value="">请选择类型</option>
        <option value="1">路内停车场</option>
        <option value="2">路外停车场</option>
      </select>
    </div>
    <div class="form-group">
      <span>状态：</span>
      <select class="form-control" [(ngModel)]="searchParams.status" name="status"
              (change)="searchAssistant.submitSearch(true,$event)">
        <option value="">全部</option>
        <option value="1">空闲</option>
        <option value="2">宽松</option>
        <option value="3">紧张</option>
      </select>
    </div>
    <!--<div class="form-group">-->
      <!--<span>分组：</span>-->
      <!--<select class="form-control" [(ngModel)]="searchParams.parking_group_id" name="parking_group_id"-->
              <!--(change)="searchAssistant.submitSearch(true,$event)">-->
        <!--<option value="">请选择分组</option>-->
        <!--<option *ngFor="let group of groupList" [value]="group.parking_group_id">{{group.parking_group_name}}</option>-->
      <!--</select>-->
    <!--</div>-->
    <div class="form-group">
      <button (click)="onParkingStateExportClick()" class="parking-btn" #export>导出</button>
      <button routerLink="../parking-state-complete" class="parking-btn">显示全部</button>
    </div>
  </form>
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="special-text-index">序号</th>
      <th>停车场名称</th>
      <th>停车场类型</th>
      <th>
        <div>
            <span class="btn-icon-sort-container"
                  (click)="onChangeOrderBtnClick(OrderItemType.total_num, currentOrderType)">
              车位总数
              <div class="btn-icon-sort" [class.btn-icon-disabled]="currentOrderItem !== OrderItemType.total_num"
                   [class.btn-icon-up]="(currentOrderItem === OrderItemType.total_num) && (currentOrderType === OrderByType.order)"
                   [class.btn-icon-down]="(currentOrderItem === OrderItemType.total_num) && (currentOrderType === OrderByType.reverse_order)"></div>
            </span>
        </div>
      </th>
      <th>
        <div>
            <span class="btn-icon-sort-container"
                  (click)="onChangeOrderBtnClick(OrderItemType.filling_rate, currentOrderType)">
              当前填充率
              <div class="btn-icon-sort" [class.btn-icon-disabled]="currentOrderItem !== OrderItemType.filling_rate"
                   [class.btn-icon-up]="(currentOrderItem === OrderItemType.filling_rate) && (currentOrderType === OrderByType.order)"
                   [class.btn-icon-down]="(currentOrderItem === OrderItemType.filling_rate) && (currentOrderType === OrderByType.reverse_order)"></div>
              </span>
        </div>
      </th>
      <th>
        <div>
            <span class="btn-icon-sort-container"
                  (click)="onChangeOrderBtnClick(OrderItemType.total_tmp_num, currentOrderType)">
              临时车位总数
              <div class="btn-icon-sort" [class.btn-icon-disabled]="currentOrderItem !== OrderItemType.total_tmp_num"
                   [class.btn-icon-up]="(currentOrderItem === OrderItemType.total_tmp_num) && (currentOrderType === OrderByType.order)"
                   [class.btn-icon-down]="(currentOrderItem === OrderItemType.total_tmp_num) && (currentOrderType === OrderByType.reverse_order)"></div>
            </span>
        </div>
      </th>
      <th>
        <div>
            <span class="btn-icon-sort-container"
                  (click)="onChangeOrderBtnClick(OrderItemType.status, currentOrderType)">
              临时车位状态
              <div class="btn-icon-sort" [class.btn-icon-disabled]="currentOrderItem !== OrderItemType.status"
                   [class.btn-icon-up]="(currentOrderItem === OrderItemType.status) && (currentOrderType === OrderByType.order)"
                   [class.btn-icon-down]="(currentOrderItem === OrderItemType.status) && (currentOrderType === OrderByType.reverse_order)"></div>
            </span>
        </div>
      </th>
      <th>
        今日流量
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of dataList;let index=index">
      <td class="special-text-index">{{((searchAssistant.currentPage-1)*searchAssistant.pageSize+index+1)|zeroFill}}</td>
      <td [title]="data.parking?.parking_name +'\n上线日期：'+data.parking?.firstOperationTime">
        <span *ngIf="data.run_status===2" class="parking-status" [ngClass]="{'parking-status-break': data.run_status===2}"></span>
        {{data.parking?.parking_name|zMaxLength:25}}
      </td>
      <td>{{data.parking?.area_type|areaType}}</td>
      <td><span *ngIf="data.run_status===2">--</span>
        <span *ngIf="data.run_status!==2">{{data.tmp_num+data.other_num}}/{{data.total_num}}</span></td>
      <td>{{data.run_status===2?'--':data.filling_rate}}</td>
      <td>
        <span *ngIf="data.run_status===2">--</span>
        <span *ngIf="data.run_status!==2">{{data.tmp_num}}/{{data.total_tmp_num}}</span></td>
      <td [ngStyle]="{color: data.status|parkingState:true}">
        {{data.run_status===2?'--':data.status|parkingState}}
      </td>
      <td>{{data.run_status===2?'--':data.flow+'辆'}}</td>
    </tr>
    </tbody>
  </table>
  <app-no-data-page *ngIf="isLoadComplete && dataList.length === 0"></app-no-data-page>
  <app-pagination
    [currentPage]="searchAssistant.currentPage"
    [pageCount]="searchAssistant.pageList.length"
    (pageSelected)="searchAssistant.pageSelected($event)"
  ></app-pagination>
</div>
