<div class="fs-container">
  <div class="fs-body">
    <div class="fs-left-side">
      <div class="fs-map-item">
        <div class="fs-bg-logo"></div>
        <app-full-border [arrowSize]="'lg'" [arrowRadius]="true">
          <app-full-map [sourceHeight]="'1038'" [sourceWidth]="'1413'"></app-full-map>
        </app-full-border>
      </div>
    </div>
    <!--右-->
    <div class="fs-right-side">
      <div class="fs-both-side-item">
        <app-full-border>
          <app-full-online-state
            sourceHeight="243" sourceWidth="453" sourceSize="sm"></app-full-online-state>
        </app-full-border>
      </div>
      <div class="fs-both-side-item">
        <app-full-border>
          <app-full-flow-statistics sourceHeight="243" sourceWidth="453" sourceSize="sm"
                                    [entryFlowList]="entryFlowList"></app-full-flow-statistics>
        </app-full-border>
      </div>
      <div class="fs-both-side-item">
        <app-full-border>
          <app-full-flow-distribution-curve  sourceHeight="243" sourceWidth="453" sourceSize="sm"
                                             (entryFlowComplete)="entryFlowList=$event"
          ></app-full-flow-distribution-curve>
        </app-full-border>
      </div>
      <div class="fs-both-side-item">
        <app-full-border>
          <app-full-monitor  sourceHeight="243" sourceWidth="453" sourceSize="sm"></app-full-monitor>
        </app-full-border>
      </div>
    </div>
  </div>
</div>

