<div class="header">
  <app-crumb [level1Name]="'基础管理'" [level2Name]="'停车场'" [level3Name]="'分组管理'" [level4Name]="'查看组'"
             [level2RelativePath]="'../../../'"
             [level3RelativePath]="'../../'"></app-crumb>
  <div class="switch-btn-group">
    <button class="switch-btn" [routerLink]="['../../edit', group_id]" [queryParams]="{from:'detail'}">编辑</button>
  </div>
</div>
<div class="content-flow">
  <div class="list-container">
    <form class="search-form" autocomplete="off">
      <div class="col-sm-5 form-group">
        <span>组名称：</span>
        {{groupDetailInfo.parking_group_name ? groupDetailInfo.parking_group_name : '--'}}
      </div>
      <div class="col-sm-5 form-group">
        <span>组类型：</span>
        {{groupDetailInfo.parking_group_types ? (groupDetailInfo.parking_group_types | groupType) : '--'}}
      </div>
      <div class="form-group">
        <span>停车场：</span>
        <input class="form-control" placeholder="请输入停车场名称" [(ngModel)]="searchParams.parking_name" name="parking_name"
               (keyup)="searchAssistant.submitSearch(true, $event)"/>
      </div>
    </form>
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="special-text-index">序号</th>
        <th>名称</th>
        <th>地址</th>
        <th>添加时间</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let groupsParking of groupsParkingsList; let index=index" (click)="onSelect(groupsParking)"
          [ngClass]="{tableActive: groupsParking.parking?.parking_id==currentSelectParking.parking?.parking_id}">
        <td class="special-text-index">{{((searchAssistant.currentPage-1)*searchAssistant.pageSize+index+1)|zeroFill}}</td>
        <td>
          {{groupsParking.parking?.parking_name}}
          <span class="cancel-tip" *ngIf="groupsParking.parking?.status===2">已注销</span>
        </td>
        <td [title]="(groupsParking.parking | parkingFormatAddress:1)">
          {{(groupsParking.parking | parkingFormatAddress:1) | zMaxLength:40}}
        </td>
        <td>{{groupsParking.created_time*1000 | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
      </tr>
      </tbody>
    </table>
    <app-no-data-page *ngIf="isLoadComplete && groupsParkingsList.length === 0">
    </app-no-data-page>
    <app-pagination [currentPage]="searchAssistant.currentPage"
                    [pageCount]="searchAssistant.pageList.length"
                    (pageSelected)="searchAssistant.pageSelected($event)"></app-pagination>
  </div>
</div>
