<div class="fs-container">
  <div class="fs-body">
    <div class="fs-left-side">
      <div class="fs-both-side-item">
        <app-full-border arrowSize="lg" globalSize="superlg">
          <app-full-parking-utilization-rate
            sourceHeight="486" sourceWidth="906" sourceSize="superlg"></app-full-parking-utilization-rate>
        </app-full-border>
      </div>
      <div class="fs-both-side-item">
        <app-full-border arrowSize="lg" globalSize="superlg">
          <app-full-user-type-ratio sourceHeight="486" sourceWidth="906"
                                    sourceSize="superlg"></app-full-user-type-ratio>
        </app-full-border>
      </div>
    </div>
    <!--右-->
    <div class="fs-right-side">
      <div class="fs-both-side-item">
        <app-full-border arrowSize="lg" globalSize="superlg">
          <app-full-wxmp-new-users
            sourceHeight="486" sourceWidth="906" sourceSize="superlg"></app-full-wxmp-new-users>
        </app-full-border>
      </div>
      <div class="fs-both-side-item">
        <app-full-border arrowSize="lg" globalSize="superlg">
          <app-full-mx-new-users
            sourceHeight="486" sourceWidth="906" sourceSize="superlg"></app-full-mx-new-users>
        </app-full-border>
      </div>
    </div>
  </div>
</div>
