.fs-container {
  width: 100vw;
  height: 100vh;
  padding: 0 40px 20px 20px;
  display: flex;
  flex-direction: column;
  background:#011428 url('/assets/images/screen/full_screen_bg_top.png');
  -webkit-background-size: 200%;
  background-size: 200%;
  position: relative;
}

.fs-body {
  flex: 2;
  display: flex;
}

.fs-right-side {
  flex: 1;
}

.fs-left-side {
  width: 950px;
}

.fs-both-side-item {
  width: 100%;
  height: 490px;
  margin-top: 40px;
  display: flex;
}
